# OpenSSL config file based on Gentoo's default openssl.cnf meant for generating
# certificate requests that satisfy https://www.eugridpma.org/guidelines/robot/
#   * Added v3_req extensions per https://www.eugridpma.org/guidelines/robot/
#   * Removed sections that seem unnecessary

# This definition stops the following lines choking if HOME isn't
# defined.
HOME			= .
RANDFILE		= $ENV::HOME/.rnd

[ new_oids ]
# We can add new OIDs in here for use by 'ca', 'req' and 'ts'.
# Add a simple OID like this:
# testoid1=1.2.3.4
# Or use config file substitution like this:
# testoid2=${testoid1}.5.6

####################################################################
[ req ]
default_bits		= 2048
default_keyfile 	= privkey.pem
distinguished_name	= req_distinguished_name
x509_extensions	= v3_ca	# The extensions to add to the self signed cert
string_mask = utf8only
req_extensions = v3_req # The extensions to add to a certificate request

[ req_distinguished_name ]
# I couldn't figure out to remove this section, but I think it can remain
# empty if -subj is supplied at command line

[ v3_req ]
# Extensions to add to a certificate request
basicConstraints = CA:FALSE
keyUsage = nonRepudiation, digitalSignature, keyEncipherment
extendedKeyUsage = critical,timeStamping
subjectAltName = email:admin@icecube.wisc.edu
certificatePolicies = 1.2.840.113612.5.2.3.3.1

[ v3_ca ]
# Extensions for a typical CA
# PKIX recommendation.
subjectKeyIdentifier=hash
authorityKeyIdentifier=keyid:always,issuer
basicConstraints = critical,CA:true
